.FormInput {
  border-radius: 37px;
  background: #fff;
  outline: none;
  width: 100%;
  padding: 12px;
  border: 0;
  margin-bottom: 15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #0b2447;
}

.FormInput::placeholder {
  color: #787b7c;
}
