.logo {
  display: flex;
  align-items: center;
}

.logo_name {
  font-family: "SB Sans Display", Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #333f48;
  margin-left: 10px;
}
