.header {
  padding: 8px 160px;
  background: #ffffff;
  box-shadow: 0px 2px 10px 2px #333f48;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
}
