.LittleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  padding: 16px;
  height: fit-content;
  width: 264px;
}

.FormHeader {
  color: #333f48;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
  text-align: start;
}
