body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: url(./Images/backgroundImg.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(51, 63, 72, 0.6);
}
